@import '/src/styles/variables.scss';

.wrapper {
	position: relative;
	background-color: var(--color-bg-main);
	width: 100%;
	max-width: 800px;
	padding: 20px;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-column-gap: 6px;
	grid-row-gap: 3px;
	@media (max-width: $media-ml+px) {
		grid-template-columns: 100%;
	}
}
.textBlock {
	grid-column: span 2;
	@media (max-width: $media-ml+px) {
		grid-column: 1;
	}
}
.blockTitle {
	margin-left: 11px;
	margin-bottom: 5px;
	font-size: 15px;
}
body .taskTitle, body .taskDescription {
	background-color: var(--color-textfield-bg);
	&.inputError {
		border-color: var(--color-error);
	}
	&:focus {
		border-color: var(--color-textfield-focus);
	}
}
body .taskTitle {
	--basic-height: 34px;
	line-height: 24px;
	padding: 5px 10px;
	font-size: 18px;
}
body .taskDescription {
	--basic-height: 26px;
	line-height: 20px;
	padding: 5px 10px;
	font-size: 14px;
}
.taskDetails {
	.blockTitle {
		margin-left: 0;
	}
}
.taskDetailsContainer {
	padding: 10px;
	display: flex;
	flex-direction: column;
	border: solid 1px var(--color-text-inactive);
	border-radius: 8px;
}
.radioButtons {
	width: 100%;
}

.subtasks {
	grid-column: 2;
	@media (max-width: $media-ml+px) {
		grid-column: 1;
		margin-top: 5px;
	}
}
.radioButtonsWrapper {
	margin-top: 10px;
	width: 100%;
}
.comments {
	grid-column: span 2;
	// margin-top: 10px;
	@media (max-width: $media-ml+px) {
		grid-column: 1;
	}
}

.deleteWrapper {
	grid-column: span 2;
	position: relative;
	height: 0;
	@media (max-width: $media-ml+px) {
		grid-column: 1;
	}
}
body .deleteTaskButton {
	position: absolute;
	top: calc(100% + 6px);
	right: 0;
	z-index: 3;
	height: 24px;
	padding: 0 10px;
	border-radius: 8px;
	background-color: var(--color-accent-04);
	color: var(--color-text-main);
	font-size: 13px;
	// &:hover {
	// 	background-color: ;
	// }
}
.attachments {
	margin-top: 10px;
	margin-bottom: 10px;
	grid-column: span 2;
	@media (max-width: $media-ml+px) {
		grid-column: 1;
	}
}
.info {
	@extend .blockTitle;
	grid-column: span 2;
	display: flex;
	align-items: center;
	gap: 30px;
	@media (max-width: $media-ml+px) {
		grid-column: 1;
	}
}
// .infoProject {
// }
.projectLink {
	position: relative;
	transition: color $timer-hover;
	&:before {
		content: '';
		position: absolute;
		top: calc(100% + 0px);
		left: 0;
		display: inline-block;
		width: 100%;
		height: 1px;
		background-color: transparent;
		transition: background-color $timer-hover;
	}
	&:hover {
		color: var(--color-hover);
		&:before {
			background-color: var(--color-hover);
		}
	}
}