@import '/src/styles/variables.scss';

.wrapper {
	position: relative;
	background-color: var(--color-bg-main);
	width: 100%;
	max-width: 800px;
	padding: 20px;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-column-gap: 6px;
	grid-row-gap: 3px;
}
.textBlock {
	grid-column: span 2;
}
.blockTitle {
	margin-left: 11px;
	margin-bottom: 5px;
	font-size: 15px;
}
body .taskTitle, body .taskDescription {
	background-color: var(--color-textfield-bg);
	&:focus {
		border-color: var(--color-textfield-focus);
	}
}
body .taskTitle {
	--basic-height: 34px;
	line-height: 24px;
	padding: 5px 10px;
	font-size: 18px;
}
body .taskDescription {
	--basic-height: 26px;
	line-height: 20px;
	padding: 5px 10px;
	font-size: 14px;
}
.taskDetails {
	padding: 10px;
	display: flex;
	flex-direction: column;
	border: solid 1px var(--color-text-inactive);
	border-radius: 8px;
	.blockTitle {
		margin-left: 0;
	}
}
.dateTime {
}
.radioButtons {
	width: 100%;
}

.subtasks {
	grid-column: 2;
}
.radioButtonsWrapper {
	margin-top: 10px;
	width: 100%;
}
.comments {
	grid-column: span 2;
	margin-top: 10px;
}

.attachments {
	margin-top: 10px;
}