@import '/src/styles/variables.scss';

.header {
	height: 100%;
	display: flex;
	align-items: center;
	background-color: var(--color-bg-secondary);
	color: var(--color-text-main);
	fill: var(--color-icons-main);
}
.container {
	// padding: 0 10px;
	display: flex;
	column-gap: 30px;
	justify-content: space-between;
	align-items: center;
}
.logo {
	flex: 0 0 auto;
}
.search {
	flex: 0 0 auto;
	display: flex;
	justify-content: flex-end;
}
.middlePart {
	flex: 1 1 auto;
	display: flex;
	justify-content: center;
	column-gap: 30px;
}
.headerItem {
	background-color: var(--color-bg-main);
}
body .button {
	svg {
		margin-bottom: 2px;
		margin-right: 10px;
		width: 14px;
		height: 14px;
		transform: rotate(45deg);
	}
}

.sortSwitch {
	position: relative;
}

.emptyModal {
	position: relative;
	min-height: 300px;
}
.modalLoader {
	position: absolute;
	top: 0;
	left: 0;
}
