@import '/src/styles/variables.scss';

.wrapper {
	background-color: var(--color-bg-main);
	display: grid;
	grid-template-columns: 20px 1fr 30px;
	// grid-template-rows: repeat(4, auto);
	grid-template-rows: repeat(3, auto) 20px;
	grid-column-gap: 6px;
	grid-row-gap: 3px;
}
.priority {
	grid-row: 1/-1;
	// background-color: #999;
	width: 20px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	// svg {
	// 	margin-bottom: 2px;
	// 	width: 80%;
	// 	height: 80%;
	// 	fill: #fff;
	// }
	&_normal {
		background-color: var(--color-priority-normal);
	}
	&_high {
		background-color: var(--color-priority-high);
	}
	&_top {
		background-color: var(--color-priority-top);
	}
}
.title {
	background-color: yellow;
	grid-column: span 2;
	word-break: break-all;
	text-align: left;
	// min-height: 30px;
	font-size: 18px;
	padding: 8px 0;
}
.description {
	@include text-max-lines(3);
	grid-row: 2;
	grid-column: 2;
	font-size: 14px;
	line-height: 1;
}

.taskDetails {
	grid-row: 3;
	grid-column: 2;
	display: flex;
	background-color: skyblue;
}
.detailsItem {
	display: inline-flex;
	align-items: center;
}
.detailsIcon {
	width: 10px;
	height: 10px;
}



.spoilerButton {
	grid-row: 2 / span 2;
	background-color: lime;
	svg {
		width: 20px;
		height: 20px;
		transform: rotate(90deg);
	}
}
.bubble {

}



.subtasks {
	grid-column: span 2;
	background-color: pink;
}
.subtask {
	display: flex;
}
.subtaskStatusButton {
	svg {
		width: 20px;
		height: 20px;
	}
}
.subtaskTitle {
	font-size: 18px;
}