@import '/src/styles/variables.scss';

$col-gap: 4px;

.wrapper {
	background-color: var(--color-bg-tertiary);
	display: grid;
	grid-template-columns: 7% 1fr 34px;
	grid-template-rows: repeat(5, auto);
	grid-column-gap: $col-gap;
	grid-row-gap: 3px;
	border-bottom: solid 2px var(--color-bg-secondary);
	overflow: hidden;
	transition: background-color $timer-hover;
	@media (hover: hover) {
		&:hover {
			background-color: var(--color-bg-main);
		}
	}
	&:last-child {
		border-bottom-width: 0;
	}
	@media ((max-width: $media-ts+px) and (min-width: $media-mxl+1+px)), (max-width: $media-ms+px) {
		grid-template-columns: 0 1fr 34px;
	}
}
.priority {
	grid-row: 1/-1;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	@media ((max-width: $media-ts+px) and (min-width: $media-mxl+1+px)), (max-width: $media-ms+px) {
		grid-row: 1;
		grid-column: span 3;
		height: 16px;
	}
	&_normal {
		background-color: var(--color-priority-normal);
	}
	&_high {
		background-color: var(--color-priority-high);
	}
	&_top {
		background-color: var(--color-priority-top);
	}
}
.header {
	grid-column: 2 / span 2;
	position: relative;
	padding-right: $col-gap;
	height: 28px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	@media (max-width: $media-ts+px) {
		margin-top: -3px;
	}
}
.taskId {
	margin: 0 $col-gap;
	font-size: 15px;
	color: var(--color-text-inactive);
}
.title {
	grid-column: 2 / span 2;
	padding: 5px $col-gap;
	word-break: break-word;
	text-align: left;
	font-size: 18px;
	line-height: 1.3;
	min-height: 34px;
	background-color: transparent;
	transition: color $timer-hover;
	@media (hover: hover) {
		&:hover {
			color: var(--color-hover);
		}
	}
}
.description {
	@include text-max-lines(3);
	grid-column: 2 / span 2;
	margin-right: $col-gap;
	padding: 1px $col-gap;
	word-break: break-word;
	text-align: left;
	font-size: 14px;
	line-height: 18px;
	color: var(--color-text-inactive);
}

.taskDetails {
	grid-column: 2;
	padding: 2px $col-gap;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	row-gap: 3px;
	cursor: default;
}
.detailsItem {
	margin-right: 10px;
	display: inline-flex;
	align-items: center;
	span {
		font-size: 14px;
	}
}
.detailsIcon {
	margin-bottom: 2px;
	margin-right: 4px;
	width: 18px;
	height: 18px;
	fill: var(--color-icons-main);
}
.expired {
	color: var(--color-error);
	fill: var(--color-error);
}


.dragButton {
	display: flex;
	justify-content: center;
	svg {
		width: 20px;
		height: 20px;
		fill: var(--color-icons-inactive);
	}
	@media (max-width: $media-mxl+px) {
		display: none;
	}
}
.spoilerButton {
	margin-right: $col-gap;
	height: auto;
	background-color: transparent;
}
.spoilerButtonIconBox {
	width: 30px;
	height: 30px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	svg {
		width: 20px;
		height: 20px;
		fill: var(--color-icons-main);
		transform: rotate(90deg);
		transition: transform $timer-spoiler;
		.spoilerButton.active & {
			transform: rotate(270deg);
		}
	}
}
.spoilerButtonBubble {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0 3px;
	min-width: 15px;
	min-height: 15px;
	font-size: 10px;
	line-height: 1.5;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: var(--color-accent-03);
}


.subtasksWrapper {
	grid-column: 2 / span 2;
	margin-right: $col-gap;
	height: 0;
	overflow: hidden;
	transition: height $timer-spoiler;
}
.subtasks {
	margin: 5px 0;
}
