@import '/src/styles/variables.scss';

.wrapper {
	// grid-column: span 2;
	overflow: hidden;
	// &.hidden {
	// 	height: 0;
	// }
	// &.visible {
	// 	height: auto;
	// }
}
.list {
	position: relative;
}
.subtask {
	position: relative;
	margin-bottom: 6px;
	padding: 5px 5px 5px 0;
	display: flex;
	background-color: var(--color-bg-main);
	border: solid 1px var(--color-text-inactive);
	border-radius: 8px;
	& > * {
		position: relative;
		z-index: 2;
	}
	&.currentDragging {
		background-color: var(--color-text-inactive);
	}
	@media (max-width: $media-mxl+px) {
		&.currentDragging {
			opacity: 0;
		}
	}
}
.subtaskStatusButton {
	cursor: pointer;
	background-color: transparent;
	width: 25px;
	flex-shrink: 0;
	svg {
		width: 25px;
		height: 25px;
		fill: var(--color-icons-inactive);
		.status_done & {
			fill: var(--color-success);
		}
	}
}
.autoResizeTextareaWrapper {
	flex-grow: 1;
	margin: 0 6px;
	font-size: 0;
	position: relative;
}
body .subtaskTitle {
	--basic-height: 22px;
	line-height: 19px;
	padding: 4px 10px;
	font-size: 14px;
	background-color: var(--color-textfield-bg);
	transition: background-color $timer-hover, color $timer-hover;
	&:focus {
		border-color: var(--color-textfield-focus);
	}
}
.status_done .subtaskTitle {
	background-color: var(--color-textfield-done);
	color: var(--color-text-inactive)
}
.deleteButton, .confirmButton {
	width: 20px;
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	background-color: transparent;
	fill: var(--color-icons-main);
	svg {
		width: 20px;
		height: 20px;
	}
}
.deleteButton {
	svg {
		width: 15px;
		height: 15px;
	}
}
.confirmButton {
	&:disabled {
		visibility: hidden;
	}
}
.newSubtask {
	display: flex;
	margin-left: 30px;
	padding: 0 6px;
	font-size: 0;
}
.newSubtaskIcon {
	flex-shrink: 0;
	width: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	fill: var(--color-icons-main);
	svg {
		width: 10px;
		height: 10px;
		transform: rotate(45deg);
	}
}
.dragButton {
	flex: 0 0 29px; // width=24 + padding=5
	margin-right: 6px;
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	fill: var(--color-icons-inactive);
	svg {
		width: 15px;
		height: 15px;
	}
}
