@import '/src/styles/variables.scss';

.wrapper {
	
}

.blockTitle {
	margin-left: 11px;
	margin-bottom: 5px;
	font-size: 15px;
}

.list {
	margin-top: 5px;
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
}
.file {
	// width: 50px;
	max-width: 150px;
	height: 30px;
	padding: 5px;
	display: flex;
	// flex-direction: column;
	justify-content: center;
	align-items: center;
	border: solid 1px var(--color-text-inactive);
	border-radius: 10px;
}
.fileIcon {
	margin-right: 6px;
	width: 20px;
	height: 20px;
}
.fileName {
	@include text-nowrap();
	font-size: 15px;
}
.fileInfo {
	@include text-max-lines(2);
	font-size: 13px;
	display: none;
}

.inputFile {
	display: flex;
	align-items: center;
	gap: 10px;
}
.addFileButton {
	position: relative;
	height: 32px;
	font-size: 15px;
	line-height: 0.9;
	padding: 0 rem(15);
	overflow: hidden;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	word-break: break-word;
	user-select: none;
	transition: background-color $timer-hover, color $timer-hover, fill $timer-hover;
	border-radius: 8px;
	background-color: var(--color-accent-03);
	&:hover {
		background-color: var(--color-accent-04);
	}
	svg {
		margin-right: 7px;
		margin-bottom: 2px;
		width: 10px;
		height: 10px;
		transform: rotate(45deg);
	}
	span {
		// @include text-max-lines(2);
	}
	input {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 1000%;
		height: 1000%;
		cursor: pointer;
		opacity: 0;
	}
}
.inputButtons {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
.confirmButton, .cancelButton {
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	svg {
		transition: transform $timer-hover;
	}
	&:hover {
		svg {
			transform: scale(1.2);
		}
	}
}
.confirmButton {
	svg {
		width: 100%;
		height: 100%;
		fill: var(--color-success);
	}
}
.cancelButton {
	svg {
		width: 60%;
		height: 60%;
		fill: var(--color-error);
	}
}
