@import '/src/styles/variables.scss';

body .container {
	padding: 0;
	max-width: 1240px;
	height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.header {
	flex: 0 0 50px;
}
.footer {
	flex: 0 0 30px;
	padding: 0 10px;
	display: flex;
	// justify-content: space-between;
	align-items: center;
	column-gap: 30px;
	row-gap: 5px;
}
.footerItem {
	color: var(--color-text-negative);
}
.table {
	flex: 1 1 auto;
	position: relative;
	margin: 0 auto;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 33%);
	grid-gap: 3px;
	// padding: 3px;
	justify-content: space-around;
	background-color: var(--color-bg-secondary);
	border-radius: 10px;
	overflow: hidden;
}
.cell {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	.isDragging &.isDragHover {
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			display: inline-block;
			width: 100%;
			height: 100%;
			background-color: var(--color-bg-main-alpha);
		}
	}
}
.queue {
	background-color: var(--color-status-queue);
}
.development {
	background-color: var(--color-status-dev);
}
.done {
	background-color: var(--color-status-done);
}
.cellTitle {
	position: relative;
	border-bottom: solid 2px var(--color-bg-secondary);
}
.cellTitleText {
	padding: 6px;
	font-size: 20px;
	text-align: center;
}
.sortButton {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 10px;
	background-color: transparent;
	fill: var(--color-icons-main);
	transition: background-color $timer-hover, fill $timer-hover;
	&:hover {
		fill: var(--color-hover);
		background-color: var(--color-bg-main-alpha);
	}
	svg {
		width: 20px;
		height: 20px;
	}
	&.ascending svg {
		transform: rotate(180deg);
	}
}
.tasks {
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	scrollbar-width: thin; // = 8px
	scrollbar-color: var(--color-icons-inactive) transparent; // thumb track
	&::-webkit-scrollbar {
		width: 8px;
	}
	&::-webkit-scrollbar-thumb {
		background: var(--color-icons-inactive);
	}
	&::-webkit-scrollbar-track {
		background: transparent;
	}
}
.task {
	&.preventedDragMove {
		transform: none !important;
	}
}
.taskClone {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	font-size: 25px;
	color: var(--color-text-inactive);
	background-color: var(--color-bg-main-alpha);
}

body .loader, .loadError {
	position: absolute;
	top: 0;
	left: 0;
}
