// Colors //

body { // theme-default
	// Global
	--color-primary: #fff;
	--color-secondary: #161428;
	--color-grayscale-01: #000;
	--color-grayscale-02: #343F48;
	--color-grayscale-03: #EDEDED;
	--color-grayscale-04: #F5F5F5;
	--color-accent-01: #c6dadd;
	--color-accent-02: #63f1ca;
	--color-accent-03: #FED45C;
	--color-accent-04: #FF8C52;
	--color-accent-05: #FF3E6C;
	--color-accent-06: #6E55FF;
	--color-hover: #5906EE;
	--color-focus: blue;
	--color-error: #ff0000;
	--color-success: #099205;
	--color-shadow: #333;

	// Elements
	--color-bg-main: #fff;
	--color-bg-main-alpha: #ffffff88;
	--color-bg-secondary: #2d4d35;
	--color-todos-bg: var(--color-accent-01);
	--color-todos-border: #555;


	--color-text-main: #333;
	--color-text-negative: var(--color-bg-main);
	--color-text-inactive: #aaa;

	--color-icons-main: var(--color-text-main);
	--color-icons-negative: var(--color-text-negative);
	--color-icons-inactive: var(--color-text-inactive);

	--color-textfield-bg: #e9fcea;
	--color-textfield-focus: #999;
	--color-textfield-done: #fff;

	--color-status-queue: var(--color-accent-01);
	--color-status-dev: var(--color-accent-02);
	--color-status-done: #74ef7a;
	--color-priority-normal: #4bcd1b;
	--color-priority-high: #f2d115;
	--color-priority-top: #ff3535;

	--color-radio-btn-active: #0225ee;
}

// body.theme-dark {}
