// Global elements //
html {
	font-size: $font-size-default;
	// @media (max-width: $media-d+px) {
	// 	font-size: resize-multiplier(16, $media-d, 1.1);
	// }
	// @media (max-width: $media-ds+px) {
	// 	font-size: 13px;
	// }
}
body {
	--scrollbar-width: 0px; //REQ!
	--media-mobile: #{$media-mxl}; //REQ!
	--media-tablet: #{$media-ts}; //REQ!
	--timer-menu: #{$timer-menu}; //REQ!
	--timer-modal: #{$timer-modal}; //REQ!
	--timer-select: #{$timer-select}; //REQ!
	--timer-popup: #{$timer-popup}; //REQ!
	--timer-spoiler: #{$timer-spoiler}; //REQ!
	// --timer-new-comment: #{$timer-new-comment}; //REQ!

	font-family: var(--font01);
	font-size: inherit;
	color: var(--color-text-main);
	background-color: var(--color-bg-secondary);
	// &.scroll-is-locked, &.loadscreen--locked {
	// 	overflow: hidden;
	// 	padding-right: var(--scrollbar-width);
	// } //REQ!
}

// Window scrollbar
// html { // Firefox scrollbar is setting up in 'html'
// 	scrollbar-width: thin; // = 8px
// 	scrollbar-color: coral darkred; // thumb track
// }
// body {
// 	&::-webkit-scrollbar {
// 		width: 8px;
// 	}
// 	&::-webkit-scrollbar-thumb {
// 		background: coral;
// 	}
// 	&::-webkit-scrollbar-track {
// 		background: darkred;
// 	}
// }


// .undefined {
// 	box-shadow: 0 0 5px 5px red !important;
// }

