// Global elements //
html {
	font-size: $font-size-default;
	@media (max-width: $media-d+px) {
		font-size: resize-multiplier(16, $media-d, 1.1);
	}
	@media (max-width: $media-ds+px) {
		font-size: 13px;
	}
}
body {
	// Variables for JS manipulations:
	--header-position: 0px; //REQ!
	--header-offset: 0px; //REQ!
	--header-height: 0px; //REQ!
	--window-height: 100vh; //REQ!
	--scrollbar-width: 0px; //REQ!
	--marker-position: 0px; //REQ!
	--media-mobile: #{$media-mxl}; //REQ!
	--media-tablet: #{$media-ts}; //REQ!
	--timer-menu: #{$timer-menu}; //REQ!
	--timer-modal: #{$timer-modal}; //REQ!
	--timer-select: #{$timer-select}; //REQ!
	--timer-popup: #{$timer-popup}; //REQ!
	--compact-mode-offset: 25px;
	@media (max-width: $media-ml+px) {
		--compact-mode-offset: 0px;
	}
	font-family: var(--font01);
	font-size: inherit;
	color: var(--color-text-default);
	background-color: var(--color-bg-light);
	&.scroll-is-locked, &.loadscreen--locked {
		overflow: hidden;
		padding-right: var(--scrollbar-width);
	} //REQ!
}
#app {
	position: relative;
	display: grid; //REQ!
	grid-template-columns: 100%;
	grid-template-rows: 1fr auto; //REQ! if footer at the bottom
	min-height: 100vh; //REQ! if footer at the bottom
	max-width: $page-max-width+px;
	margin: 0 auto; //REQ! if max-width
	padding-top: calc(var(--header-offset) + var(--header-height));
}

// Window scrollbar
// html { // Firefox scrollbar is setting up in 'html'
// 	scrollbar-width: thin; // = 8px
// 	scrollbar-color: coral darkred; // thumb track
// }
// body {
// 	&::-webkit-scrollbar {
// 		width: 8px;
// 	}
// 	&::-webkit-scrollbar-thumb {
// 		background: coral;
// 	}
// 	&::-webkit-scrollbar-track {
// 		background: darkred;
// 	}
// }

.nowrap {
	white-space: nowrap;
}
.mobile-only {
	@media (min-width: $media-ml+1+px) {
		display: none !important;
	}
}
.desktop-only {
	@media (max-width: $media-ml+px) {
		display: none !important;
	}
}

// NEW car rental
.fontMain {
	font-family: var(--font01);
}
.fontAccent {
	font-family: var(--font02);
}
.bold {
	font-weight: 500;
}
.fz16 {
	font-size: rem(16);
}
.fz20 {
	font-size: rem(20);
}
.fz36 {
	font-size: rem(36);
	@media (max-width: $media-ml+px) {
		font-size: rem(24);
	}
}
.color01 {
	color: var(--color01);
	fill: var(--color01);
}
.color02 {
	color: var(--color02);
	fill: var(--color02);
}
.color03 {
	color: var(--color03);
	fill: var(--color03);
}
.color04 {
	color: var(--color04);
	fill: var(--color04);
}
.tac {
	text-align: center;
}
.opacity05 {
	opacity: 0.5;
}


// .undefined {
// 	box-shadow: 0 0 5px 5px red !important;
// }

