// SCSS Variables //
@forward "mixins-funcs";
@forward "breakpoints";
@forward "transitions";


// Page sizes //
$font-size-default: 16px; //px
$page-min-width: calc(315px - (100vw - 100%));
$page-max-width: 1920;
$container-desktop-width: 1290;
$container-mobile-width: 480;
$container-padding: 20;
// $container-width: $container-padding * 2 + $container-base-width;
// $mobile-content-max-width: $media-m + px;


// Gradients //
// ...

// UI //
$border-radius-l: 16px;
$border-radius-m: 12px;
$border-radius-s: 8px;