@import '/src/styles/variables.scss';

.box {
	flex-grow: 0;
	position: relative;
}
.input, .fakeInput {
	--basic-height: 22px;
	--basic-line-height: var(--basic-height);
	// height & line-height are controlled by JS
	// box-sizing: content-box; // need this to compare 'height' & 'scrollHeight'
	height: var(--basic-height);
	line-height: var(--basic-line-height);
	padding: 0 8px;
	width: 100%;
	// width: calc(100% - 18px); // padding + border
	min-width: 50px;
	// font-size: inherit;
	border: solid 1px transparent;
	border-radius: 8px;
	resize: none !important;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		width: 0;
	}
	&:focus {
		border-color: blue;
	}
}
.fakeInput {
	position: absolute !important;
	top: 100% !important;
	left: 0 !important;
	z-index: -1 !important;
	visibility: hidden !important;
}
