@import '/src/styles/variables.scss';

.wrapper {
	position: relative;
}
.input, .fakeInput {
	--basic-height: 22px;
	height: var(--basic-height); // don't change height manually, use '--basic-height' variable
	padding: 0 8px;
	width: 100%;
	min-width: 50px;
	border: solid 1px transparent;
	border-radius: 8px;
	resize: none !important;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		width: 0;
	}
	&:focus + .inputsBackground {
		border-color: blue;
	}
}
.fakeInput {
	position: absolute !important;
	top: 0 !important;
	left: 0 !important;
	z-index: -1 !important;
	visibility: hidden !important;
}
