@import '/src/styles/variables.scss';

.wrapper {
	position: relative;
}
body .button {
	@media (max-width: $media-mxl+px) {
		pointer-events: none;
		border-radius: 10px 10px 0 0;
		width: 100%;
		max-width: 999px;
	}
}
.popup {
	width: 100%;
	background-color: var(--color-bg-main);
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding: 10px;
	padding-top: 0;
	border-radius: 0 0 10px 10px;
	label {
		cursor: pointer;
	}
	input {
		cursor: pointer;
	}
	span {
		margin-left: 6px;
	}
	@media (min-width: $media-mxl+1+px) {
		position: absolute;
		top: calc(100% + 10px);
		left: calc(50% - 75px);
		z-index: 5;
		width: 150px;
		gap: 5px;
		padding: 10px;
		background-color: var(--color-bg-secondary);
		border-radius: 10px;
		box-shadow: 0 0 5px 0 var(--color-shadow);
		color: var(--color-text-negative);
		opacity: 0;
		visibility: hidden;
		transition: opacity $timer-hover, visibility $timer-hover;
		&.visible {
			opacity: 1;
			visibility: visible;
		}
		label {
			&:hover {
				text-shadow: 0 0 3px var(--color-text-negative);
			}
		}
	}
}
