@import '/src/styles/variables.scss';

.wrapper {
	position: relative;
}
.popup {
	position: absolute;
	top: calc(100% + 10px);
	left: calc(50% - 75px);
	z-index: 5;
	width: 150px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 5px;
	background-color: var(--color-bg-secondary);
	border-radius: 10px;
	box-shadow: 0 0 5px 0 var(--color-shadow);
	color: var(--color-text-negative);
	opacity: 0;
	visibility: hidden;
	transition: opacity $timer-hover, visibility $timer-hover;
	&.visible {
		opacity: 1;
		visibility: visible;
	}
	label {
		cursor: pointer;
		&:hover {
			text-shadow: 0 0 3px var(--color-text-negative);
		}
	}
	input {
		cursor: pointer;
	}
	span {
		margin-left: 6px;
	}
}
