@import '/src/styles/variables.scss';

.wrapper {
	position: relative;
}
.header {
	margin-bottom: 10px;
}
.comments {
	padding: 0 10px;
}
.subcomments {
	margin-top: 5px;
	margin-left: 30px;
	padding-top: 5px;
	padding-left: 10px;
	border-left: solid 1px var(--color-text-inactive);
}
.comment {
	&:not(:first-child) {
		margin-top: 10px;
	}
}
.main {
	display: flex;
	align-items: center;
}
.author {
	font-size: 14px;
	font-weight: bold;
}
.date {
	font-size: 12px;
	color: var(--color-text-inactive);
}
.text {
	margin-top: 3px;
	font-size: 14px;
	text-align: justify;
}
.actions {
	align-self: start;
	flex: 0 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.ratingButton {
	height: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	// background-color: orange;
	svg {
		width: 13px;
		height: 13px;
		fill: var(--color-icons-main);
	}
	span {
		margin-top: 2px;
		margin-left: 3px;
		font-size: 13px;
	}
}
.addCommentButton {
	height: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	svg {
		width: 13px;
		height: 13px;
		fill: var(--color-icons-main);
		transform: rotate(90deg);
	}
}
body .addCommentButtonBig {
	height: 32px;
	font-size: 15px;
	background-color: var(--color-accent-03);
	@media (hover: hover) {
		&:hover {
			background-color: var(--color-accent-04);
		}
	}
	svg {
		margin-right: 7px;
		margin-bottom: 2px;
		width: 10px;
		height: 10px;
		transform: rotate(45deg);
	}
}
.content {
	flex: 1 1 100%;
	margin-left: 10px;
}

// .newComment {
// }

.newCommentContainer {
	height: auto;
	overflow: hidden;
}
.newCommentWrapper {
	margin-top: 5px;
	padding: 5px 8px;
	display: flex;
	border: solid 1px var(--color-text-inactive);
	border-radius: 10px;
}
.newCommentMain {
	flex: 1 1 auto;
}
.newCommentTitle {
	margin-left: 10px;
	font-size: 14px;
}
.inputAuthor, .inputText {
	--basic-height: 24px;
	line-height: 20px;
	padding: 2px 10px;
	border-radius: 8px;
	font-size: 14px;
	background-color: var(--color-textfield-bg);
	border: solid 1px transparent;
	&:focus {
		border-color: var(--color-text-inactive);
	}
	&.inputError {
		border-color: var(--color-error);
	}
}
.newCommentButtons {
	margin-left: 12px;
	flex: 0 0 auto;
	display: flex;
	flex-direction: column;
	gap: 8px;
	justify-content: center;
	align-items: center;
}
.confirmButton, .cancelButton {
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	svg {
		transition: transform $timer-hover;
	}
	@media (hover: hover) {
		&:hover {
			svg {
				transform: scale(1.2);
			}
		}
	}
}
.confirmButton {
	svg {
		width: 100%;
		height: 100%;
		fill: var(--color-success);
	}
}
.cancelButton {
	svg {
		width: 60%;
		height: 60%;
		fill: var(--color-error);
	}
}


body .loader, .loadError {
	position: absolute;
	top: 0;
	left: 0;
	justify-content: flex-start;
}

